* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #55efc4;
  height: 150px;
  width: 500px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 2rem;
  color: #ffff;
  font-weight: bold;
  position: absolute;
  z-index: 1;
}

.nav span {
  margin-left: 10px;
}

.add-form {
  display: flex;
  position: absolute;
  left: 15px;
  top: 200px;
  align-items: center;
}

.add-input {
  font-size: 2rem;
}

.add-input {
  margin-right: 0.2em;
}

.add-button {
  height: 100%;
  font-size: 1.5rem;
  padding: 0.3em 0.5em;
  background-color: green;
  color: white;
}

.habit-total-count {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: #ffff;
  color: #55efc4;
  border-radius: 50%;
}

.main-container {
  height: 800px;
  background-color: #ffff;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 250px;
  right: 20px;
}
.button-box {
  margin-left: 10px;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  left: 300px;
  width: 200px;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habit {
  width: 500px;
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.habit-count {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: #ffff;
  border-radius: 50%;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: #55efc4;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

.reset-button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 50%);
  background-color: #55efc4;
  color: #ffff;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-button:active {
  transform: translate(-50%, 50%) rotate(-180deg);
  transition: 0.125s all ease-in;
}
